* {
    background-color: #FFDAB3;
}

h1, h2{
    color: #574964;
    text-align: center;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
img {
    position: relative;
    left: 40%;
    border-radius: 50%;
    border: 5px solid #FA891A;
}
p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 20px 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #9F8383;
}
li {
    font-weight: bold;
    text-align: justify;
    color: #574964;
}
h3 {
    text-align: justify;
    font-size: 20px;
    color: #E9762B;
}
.contact-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2B2A2A;
}
hr {
    border: 2px solid #574964;
    margin: 20px 0;
}
footer {
    text-align: center;
}
